$colors: (
  primary: #7BD389,
  secondary: #607466,
  complementary: #69bf89,
  light: #AEDCC0,
  dark: #343E3D,
  error: #ff2818,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);

@font-face {
    font-family: "Montserrat-Regular";
    src: url("~@/assets/fonts/Montserrat-Medium.ttf");
}
